.dash {
	padding: 0;
}

#myBoards {
	height: auto;
	overflow: hidden;
	transition: height 0.5s;
}

#showMore {
	width: auto;
	text-align: center;
	background-color: rgba(255,255,255,0.1);
	margin-top: 0.5em;
	margin-bottom: 2em;
	cursor: pointer;
	display: none;
	border-radius: 4px;
}

#showMore:hover {
	background-color: rgba(255,255,255,0.25);
}

.dash .kachel {
	margin: 0;
	padding: 0.25em;
	text-align: center;
	height: 11.25em;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	margin-bottom: 4em;
	position: relative;
	color: black;
}

.dash .kachel input {
	font-weight: bold;
	border-radius: 0;
	border-color: transparent;
	background-color: transparent;
	color: white;
	text-align: center;
}

.dash #newBoard {
	background-color: rgba(255,255,255,0.1);
	line-height: 16em;
}

.dash #newBoard:hover, .kachel:hover {
	background-color: rgba(255,255,255,0.15);
	color: white;
}

.dash #newBoard span {
	font-size: 6em;
}

.dash .kachel img {
	width: 100%;
	height: 100%;
}

.kachel ul {
	list-style-type: none;
	position: absolute;
	height: 1em;
	width: 100%;
	padding: 0.25em;
	right: 0;
}

.kachel ul li {
	height: 1.5em;
	display: inline-block;
	float: right;
	color: #383838;
	background-color: rgba(255,255,255,0.4);
	border-radius: 1px;
}

.kachel ul li:hover {
	color: black;
}

.kachel .more {
	display: none;
}

#usersearchModal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	text-align: center;
	align-content: center;
}

#usersearchModal input {
	border-radius: 0px;
	background-color: white;
}

#usersearchModal ul {
	list-style-type: none;
	background-color: rgba(0,0,0,0.25);
	color: white;
	border: 1px solid white;
	width: 40%;
	margin: auto;
	margin-top: 1em;
	padding: 0.5em;
	display: none;
}

#usersearchModal ul li {
	margin: 0;
}

#usersearchBox {
	width: 20%;
}

#modalContent {
	margin-top: 10%; 
	width: 100%;
}

.modalTextField {
	background-color: rgba(255,255,255,0.8);
	color: black;
	margin: 1px auto;
	font-size: 1em;
	width: 20%;
	cursor: pointer;
	padding: 0.5em;
}

.modalTextField:hover {
	background-color: rgba(255,255,255,0.9);
}

.closeModalIcon {
	color: white;
	font-size: 3em;
	float: right;
	margin: 25px;
	cursor: pointer;
}

#infoModal {
	width: 37%;
	top: 100%;
	left: 31.5%;
	background-color: white;
	position: fixed;
	padding: 1em;
	border-radius: 4px;
	border: solid #ddd 2px;
	display: none;
}

#infoModal #close {
	float: right;
	cursor: pointer;
}

.infoContent {
	display: inline-block;
	width: 100%;
	bottom: 0;
	height: 100%;
}

.infoContent input {
	width: 100%;
	border: none;
	pointer-events: none;
}