<!DOCTYPE html>
<html>
<head>
    <title>Sketchbook</title>
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/skeleton.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script
        src="http://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous">        
    </script>
    <script type="text/javascript" src="../js/dashboard.js"></script>
</head>
<body>
    <header>
        <script type="text/javascript">
            $('header').load("header");
        </script>
    </header>
    
    <div class="container">
        <div class="row">
            <h3 id="mySk">My Sketchbook</h3>
        </div>
    </div>

    <div class="container">
        <div class="row dash" id="myBoards">
            <a href="/board"><div class="four columns kachel" id="newBoard"><span class="material-icons">add</span></div></a>
            
            <script type="text/javascript">
                $.get("/getAllBoards").done(function(result) {
                    $('#mySk').append(' (' + result.length + ')');
                    for (var i = 0; i < result.length; i++) {
                        kachel = '<div class="four columns kachel" data-id="' + result[i].boardId + '">';
                        kachel += '<ul><li class="points"><span class="material-icons" title="Mehr">more_vert</span></li>';
                        kachel += '<li class="more"><span class="material-icons" title="Board l&ouml;schen">delete_forever</span></li>';
                        kachel += '<li class="more"><span class="material-icons" title="Mit Person teilen">person_add</span></li></ul>';
                        kachel += '<a href="/board?id=' + result[i].boardId + '"><img src="' + result[i].imgData + '" style="background-color: ';
                        if (result[i].bg_white == 0) {
                            kachel += '#2f6f25" /></a>';
                        }
                        else {
                            kachel += 'white" /></a>';
                        }
                        kachel += '<input type="text" name="boardtitle" maxlength="25" value="' + result[i].title + '"/></div>';
                        $('#myBoards').append(kachel);
                    }
                });
            </script>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <h3>Shared</h3>
        </div>
    </div>

    <div class="container">
        <div class="row dash">
            <div class="four columns kachel">
                <ul>
                    <li class="points"><span class="material-icons" title="Mehr">more_vert</span></li>
                    <li class="more"><span class="material-icons" title="Board l&ouml;schen">delete_forever</span></li>
                    <li class="more"><span class="material-icons shareIcon" title="Mit Person teilen">person_add</span></li>
                </ul>
                <img src="img/kachel.svg"/>
                <input type="text" name="boardtitle" maxlength="25" />
            </div>
            <div class="four columns kachel">
                <ul>
                    <li class="points"><span class="material-icons" title="Mehr">more_vert</span></li>
                    <li class="more"><span class="material-icons" title="Board l&ouml;schen">delete_forever</span></li>
                    <li class="more"><span class="material-icons" title="Mit Person teilen">person_add</span></li>
                </ul>
                <img src="img/kachel.svg"/>
                <input type="text" name="boardtitle" maxlength="25" />
            </div>
        </div>
    </div>

    <div id="usersearchModal">
        <div id="modalContent">
            <h4>Username eingeben und mit Enter bestätigen</h4>
            <input id="usersearchBox" type="text" />
            <input type="submit" value="Teilen" /><br>
        </div>
    </div>

    <footer>
        <a href="impressum">Impressum</a>
    </footer>

    <script>
        $(document).ready(function() {
            $(".shareIcon").click(function(){
                $("#usersearchModal").show();
            });

            $("#usersearchBox").keypress(function(e) {
                var regex = new RegExp("^[a-zA-Z0-9]+$");
                var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                if (regex.test(str)) {
                    return true;
                }
                e.preventDefault();
                return false;
            });

            $("#usersearchBox").on('input', function(){

                var searchStr = $(this).val();
                $("#modalContent div").remove();
                $.post("/usersearch", {searchString: searchStr}).done(function(result) {
                    $.each(result, function(i, v){
                        var tmp = "<div name='user' class='modalTextField'><input type='hidden' value='" + v.userId + "'/>" + v.username + "</div>";
                        $("#modalContent").append(tmp);
                    });
                });
            });

            $("body").on("click", "div[name='user']", function(){
                var selectedUser = $(this).find("input").val();
                $("#usersearchModal").hide();

                var shareInfo = {
                    userId: selectedUser,
                    boardId: null
                }
                
                $.post('/share', {shareDetails: shareInfo}).done(function(success){
                    //Nachricht das geshared wurde.
                });
            });
        });
    </script>
</body>
</html>