<!DOCTYPE html>
<html>
<head>
    <title>Sketchbook</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/skeleton.css">
    <script
        src="http://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous">        
    </script>
    <script type="text/javascript" src="../js/dashboard.js"></script>
</head>
<body>
    <header>
        <script type="text/javascript">
            $('header').load("header");
        </script>
    </header>
    
    <div class="container">
        <div class="row">
            <h3 id="mySk">My Sketchbook</h3>
        </div>
    </div>

    <div class="container">
        <div class="row dash" id="myBoards">
            <a href="/board"><div class="four columns kachel" id="newBoard"><span class="material-icons">add</span></div></a>
            
            <script type="text/javascript">
                $.get("/getAllBoards").done(function(result) {
                    $('#mySk').append(' (' + result.length + ')');
                    for (var i = 0; i < result.length; i++) {
                        kachel = '<div class="four columns kachel" data-id="' + result[i].boardId + '">';
                        kachel += '<ul><li class="points"><span class="material-icons" title="Mehr">more_vert</span></li>';
                        kachel += '<li class="more"><span class="material-icons deleteIcon" title="Board l&ouml;schen">delete_forever</span></li>';
                        kachel += '<li class="more"><span class="material-icons shareIcon" title="Mit Person teilen">person_add</span></li>';
                        kachel += '<li class="more"><span class="material-icons infoIcon" title="Info">info_outline</span></li></ul>';
                        kachel += '<a href="/board?id=' + result[i].boardId + '"><img src="' + result[i].imgData + '" style="background-color: ';
                        if (result[i].bg_white == 0) {
                            kachel += '#2f6f25" /></a>';
                        }
                        else {
                            kachel += 'white" /></a>';
                        }
                        kachel += '<input type="text" name="boardtitle" maxlength="25" value="' + result[i].title + '" readonly /></div>';
                        $('#myBoards').append(kachel);
                        if (result.length > 5) {
                            $('#showMore').show();
                        }
                        else {
                            $('#myBoards').css('height', 'auto');
                        }
                    }
                });

                $.get("/getSharedBoards").done(function(result) {
                    $('#sharedSk').append(' (' + result.length + ')');
                    for (var i = 0; i < result.length; i++) {
                        kachel = '<div class="four columns kachel" data-id="' + result[i].boardId + '">';
                        kachel += '<ul><li><span class="material-icons infoIcon" title="Info">info_outline</span></li></ul>';
                        kachel += '<a href="/board?id=' + result[i].boardId + '"><img src="' + result[i].imgData + '" style="background-color: ';
                        if (result[i].bg_white == 0) {
                            kachel += '#2f6f25" /></a>';
                        }
                        else {
                            kachel += 'white" /></a>';
                        }
                        kachel += '<input type="text" name="boardtitle" maxlength="25" value="' + result[i].title + '" readonly /></div>';
                        $('#sharedBoards').append(kachel);
                    }
                });
            </script>

        </div>
        <div id="showMore"><span class="material-icons">arrow_drop_down</span></div>
    </div>

    <div class="container">
        <div class="row">
            <h3 id="sharedSk">Shared</h3>
        </div>
    </div>

    <div class="container">
        <div class="row dash" id="sharedBoards">
        </div>
    </div>

    <div id="usersearchModal">
        <span class="material-icons closeModalIcon">close</span>
        <div id="modalContent">
            <h4>Username eingeben und mit Enter bestätigen</h4>
            <input id="usersearchBox" type="text" />
            <input id="btnShare" type="button" value="Teilen" /><br>
        </div>
        <ul></ul>
    </div>

    <div id="infoModal">
        <span class="material-icons">info</span>
        <span class="material-icons" id="close">close</span><br>
        <div class="infoContent">
            <b>Titel:</b><input type="text" id="title" readonly /><br>
            <b>Letzte Änderung:</b><input type="text" id="last" readonly /><br>
            <b>Erstellt am:</b><input type="text" id="createDate" readonly />
        </div>
        <div class="infoContent" id="sharedTo"></div>
    </div>
    <div id="dialogDelete">
        Sketch löschen?<br><br>
        <button>Nein</button>
        <button id="deleteYes">Ja</button>
    </div>

    <footer>
        <a href="impressum">Impressum</a>
    </footer>

</body>
</html>