<!DOCTYPE html>
<html>
<head>
    <title>Sketchbook</title>
    <link rel="stylesheet" href="../css/dashboard.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/skeleton.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script
        src="http://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous">        
    </script>
    <script type="text/javascript" src="../js/dashboard.js"></script>
</head>
<body>
    <header>
        <script type="text/javascript">
            $('header').load("header");
        </script>
    </header>
    
    <div class="container">
        <div class="row">
            <h3 id="mySk">My Sketchbook</h3>
        </div>
    </div>

    <div class="container">
        <div class="row dash" id="myBoards">
            <a href="/board"><div class="four columns kachel" id="newBoard"><span class="material-icons">add</span></div></a>
            
            <script type="text/javascript">
                $.get("/getAllBoards").done(function(result) {
                    console.log(result);
                    $('#mySk').append(' (' + result.length + ')');
                    for (var i = 0; i < result.length; i++) {
                        kachel = '<div class="four columns kachel">';
                        kachel += '<ul><li class="points"><span class="material-icons" title="Mehr">more_vert</span></li>';
                        kachel += '<li class="more"><span class="material-icons" title="Board l&ouml;schen">delete_forever</span></li>';
                        kachel += '<li class="more"><span class="material-icons" title="Mit Person teilen">person_add</span></li></ul>';
                        kachel += '<a href="/board?id=' + result[i].boardId + '"><img src="' + result[i].imgData + '" style="background-color: ';
                        if (result[i].bg_white == 0) {
                            kachel += '#2f6f25" /></a>';
                        }
                        else {
                            kachel += 'white" /></a>';
                        }
                        kachel += '<input type="text" name="boardtitle" maxlength="25" value="' + result[i].title + '"/></div>';
                        $('#myBoards').append(kachel);
                    }
                });
            </script>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <h3>Shared</h3>
        </div>
    </div>

    <div class="container">
        <div class="row dash">
            <div class="four columns kachel">
                <ul>
                    <li class="points"><span class="material-icons" title="Mehr">more_vert</span></li>
                    <li class="more"><span class="material-icons" title="Board l&ouml;schen">delete_forever</span></li>
                    <li class="more"><span class="material-icons" title="Mit Person teilen">person_add</span></li>
                </ul>
                <img src="img/kachel.svg"/>
                <input type="text" name="boardtitle" maxlength="25" />
            </div>
            <div class="four columns kachel">
                <ul>
                    <li class="points"><span class="material-icons" title="Mehr">more_vert</span></li>
                    <li class="more"><span class="material-icons" title="Board l&ouml;schen">delete_forever</span></li>
                    <li class="more"><span class="material-icons" title="Mit Person teilen">person_add</span></li>
                </ul>
                <img src="img/kachel.svg"/>
                <input type="text" name="boardtitle" maxlength="25" />
            </div>
        </div>
    </div>

    <footer>
        <a href="impressum">Impressum</a>
    </footer>
</body>
</html>