<!DOCTYPE html>
<html>
    <head>
        <title>Sketchbook</title>
        <link rel="stylesheet" href="../css/login.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/skeleton.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script
            src="http://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <script type="text/javascript">
                $('header').load("header");
            </script>
        </header>
        
        <div class="container">
            <div class="row">
                <h2>Die angeforderte Seite ist nicht vorhanden.</h2>
            </div>
        </div>
        
        <footer>
            <a href="impressum">Impressum</a>
        </footer>
    </body>
</html>