<!DOCTYPE html>
<html>
    <head>
        <title>Sketchbook</title>
        <link rel="stylesheet" href="../css/login.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/skeleton.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script
            src="http://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <script type="text/javascript">
                $('header').load("header");
            </script>
        </header>

        <div class="container">
            <div class="row profilSeite">
                <div class="four columns">
                    <img id="userImg" src="img/person.svg"/>
                </div>
                <div class="eight columns">
                    <h5>Nutzername</h5>
                    <input type="text" id="username" readonly/>
                    <hr>
                    <h5>E-Mail</h5>
                    <input type="text" id="mail" readonly/>
                    <hr>
                    <h5>Boards</h5>
                    Meine Boards: <span id="myBoardsCount"></span><br>
                    Mir geteilte Boards: <span id="sharedBoardsCount"></span>
                    <script type="text/javascript">
                        $.get("/getAllBoards").done(function(myBoards) {
                            $('#myBoardsCount').text(myBoards.length);
                        });
                        $.get("/getSharedBoards").done(function(shBoards) {
                            $('#sharedBoardsCount').text(shBoards.length);
                        });
                    </script>
                    <hr>
                </div>
            </div>
        </div>

        <footer>
            <a href="impressum">Impressum</a>
        </footer>
    </body>

    <script type="text/javascript">
        $.get("/userdata", function(user) {
                $("#username").val(user.username);
                $("#mail").val(user.email);
        });
    </script>
</html>