<!DOCTYPE html>
<html>
    <head>
        <title>Sketchbook</title>
        <link rel="stylesheet" href="../css/login.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/skeleton.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script
            src="http://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <script type="text/javascript">
                $('header').load("header");
            </script>
        </header>

        <div class="alert offset-by-three six columns"></div>
        
        <form id="loginform" class="offset-by-four four columns" action="/registration" method="post">
            <label>Username<span class="validation"></label>
            <input title="Username" name="username" required checked autofocus autocomplete="additional-name" maxlength="20" type="text" placeholder="John Doe"/>
            <label>E-Mail</label>
            <input title="E-Mail" name="email" required checked autofocus autocomplete="additional-name" maxlength="40" type="email" placeholder="mail@example.com"/>
            <label>Password<span class="validation"></span></label>
            <input title="Password" name="password" required checked min="4" maxlength="20" type="password" placeholder="1234 is a good idea"/>
            <label>Password wiederholen<span class="validation"></span></label>
            <input title="Password wiederholen" required checked maxlength="20" type="password" placeholder="1234 is a good idea"/>
            <input type="submit" value="Registrieren"/>
        </form>
        
        <footer>
            <a href="impressum">Impressum</a>
        </footer>

        <script>
            $.get('/errormessages', function(data) {
                if (data !== "")
                    $(".alert").html("<strong>" + data + "</strong>").show();
            });

            $("input[name='username']").keypress(function(e) {
                var regex = new RegExp("^[\\w.]+$");
                var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                if (regex.test(str)) {
                    return true;
                }
                e.preventDefault();
                return false;
            });


            var validationErrors = [];

            function validate() {
                var pwFields = $("input[type='password']");
                var valid = true;

                if ($(pwFields[0]).val().length < 4) {
                    $(pwFields[0]).css("border", "1px solid red");
                    validationErrors.push({field: $(pwFields[0]), msg: "Passwort muss mindestens 4 Zeichen lang sein!"});
                    valid = false;
                }
                if ($(pwFields[0]).val() !== $(pwFields[1]).val()){
                    $(pwFields[1]).css("border", "1px solid red");
                    validationErrors.push({field: $(pwFields[1]), msg: "Passwörter stimmen nicht überein."});
                    valid = false;
                }
                if (!$("input[name='username']").val().match(/^[\w]{1}[\w.]{4,}/)){
                    validationErrors.push({field: $("input[name='username']"), msg: "Username ist zu kurz"});
                    valid = false;
                }

                return valid;
            }

            $("form").submit(function(e) {
                if (validate()) {
                    $("form").submit();
                }
                else {
                    e.preventDefault();
                    $.each(validationErrors, function(i, v){
                        $(v.field).prev().find(".validation").text(v.msg);
                    });
                }
            });
        </script>
    </body>
</html>